<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>hi {{name}}</p>

Email: <input type="text" id="email">
Password: <input type="text" id="password">
<div>
    <button onclick="login()">Login</button>
</div>
<div>
    <button>Signup</button>
</div>
<script>
    function login(){
    
    }
</script>
